
<div class="flex justify-center">
  <div class="post-info-div block rounded-lg shadow-lg bg-white max-w-sm text-center">
    <div class="title py-3 px-6 border-b border-gray-300">
       <a href="/post/{{id}}">
      <h3>{{title}}</h3>
    </a>
    <h4>Posted by {{user.username}}</h4>
    
    </div>

    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2"> <div class="post-url">
    <a href="{{post_url}}">{{post_url}}</a>
  </div></h5>

      <p class="text-gray-700 text-base mb-4">
        {{post_text}}
      </p>
    </div>
    <div class="py-3 px-6 border-t border-gray-300 text-gray-600">
      <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
      {{ format_date created_at}}
    </div>
  </div>
</div>