<article class="">
  <a href="/dashboard" class="text-xl hover:text-blue-600 transition duration-300 ease-in-out "> &larr; Back to dashboard</a>
  <h2 class="mt-8 text-3xl mb-2">
    Edit Post
  </h2>

  <!-- Form for editing post-->
  <form class="edit-post-form p-6 rounded-lg shadow-lg max-w-md">
    <div class="mb-6">
      <input name="post-title" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding
        border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="text" value="{{post.title}}" />
    </div>
    <div>
        <input name="post-url" class="mb-2 form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="text" value="{{post.post_url}}"/>
    </div>
    <div>
      <textarea name="post-text" class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="text">{{post.post_text}}
      </textarea>
    </div>
    
  <button type="submit" class="mt-4 text-black bg-white px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      Save post
  </button>

  <button type="button" class="delete-post-btn text-black bg-white px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Delete post</button>
  </form>
      
  <div class="mt-6 pb-3">
    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
  </div>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body" class="w-1/2 border border-black"></textarea>
  </div>

  <div>
    <button type="submit" class=" btn px-6 py-2.5  text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>
